.interface{
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    border-radius: 0.3rem;
    background-color: black;
    .interface-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
       &.numbers{
        width: 74%;
       }
       &.actions{
        width: 26%;
        align-items: end;
        flex-direction: column;
       }
       &.memory{
        flex-basis: 100%;
       }
    }
}